.footer {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #222222;
    color: #f4f4f4;
    display: flex;
    justify-content: space-around;
}

.footer__company-name,
.footer__info,
.footer__follow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.footer__company-name {
    font-weight: 700;
    font-size: 35px;
    line-height: 106px;
    color: #4e4e4e;
}

.footer__box {
    height: 100%;
    padding-top: 30px;
}

.footer__info__title,
.footer__follow__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: large;
}
