.footer-wrapper {
    margin: 0;
    padding: 100px 0 0 0;
}

.footer {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #f4f4f4;
}

.footer__company-name,
.footer__info,
.footer__follow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__company-name {
    font-weight: 700;
    font-size: 35px;
    line-height: 106px;
    color: #4e4e4e;
}

.footer__box {
    height: 100%;
    padding-top: 30px;
}

.footer__info__title,
.footer__follow__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: large;
}
