.mainNavbar {
    background-color: #ffffff;
    box-shadow: 0 0px 5px 0px lightgray;
}

.mainNavbar__brand {
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 106px;
    color: #222222;
}

.mainNavbar__link {
    margin: 12px;
    text-decoration: none;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #585858;
}
